In [8]:
import os
import pandas as pd
from pathlib import Path

# 수집한 데이터 폴더
mypath = "../../NaverNews/navernews/news/news/"
df_li = []
for path in Path(mypath).rglob("*.json"):
    try :
        df_li.append(pd.read_json(path))
    except :
        os.remove(path)
        print(path)

df = pd.concat(df_li, sort=False)
#df_count = df.groupby([df['category1'],df['category2']])['url'].agg(['count'])
df_count = df.groupby([df['category1']])['url'].agg(['count'])
print(df.shape)
#≈

../../NaverNews/navernews/news/news/2019/12/04/20191204_사회_지역.json
../../NaverNews/navernews/news/news/2020/03/04/20200304_사회_사회일반.json
../../NaverNews/navernews/news/news/2020/03/04/20200304_사회_인권복지.json
../../NaverNews/navernews/news/news/2020/02/03/20200203_사회_사회일반.json
../../NaverNews/navernews/news/news/2020/02/03/20200203_사회_인권복지.json
(269241, 17)

In [15]:
df.head()

,url,category1,category2,date,title,media,inputdate,summary,content,oricategory,comment,updatedate,angry,want,like,sad,warm
0,https://news.naver.com/main/read.nhn?mode=LS2D...,경제,경제 일반,2019-12-02,활짝 열릴 ‘오픈뱅킹’ 고객 유혹 총력전,경향신문,2019.12.02. 오후 9:25,None,"ㆍ은행권, 18일 전면 시행 앞두고 각양각색 유인책 잇따라 선보여 ㆍ시범운영 기간...",경제,0,2020-03-17 04:28:59,NaN,NaN,NaN,NaN,NaN
1,https://news.naver.com/main/read.nhn?mode=LS2D...,경제,경제 일반,2019-12-02,한국중재대상 ‘영광의 얼굴들’,한국경제,2019.12.02. 오후 9:57,None,대한상사중재원과 한국경제신문사가 함께 수여하는 ‘제2회 한국중재대상’ 시상식이 2...,경제,0,2020-03-17 04:28:59,NaN,NaN,NaN,NaN,NaN
2,https://news.naver.com/main/read.nhn?mode=LS2D...,경제,경제 일반,2019-12-02,재산세·건보료·車보험료 줄줄이 인상…직장인 '악 소리',TV조선,2019.12.02. 오후 9:33,None,"손해보험사들이 또 자동차 보험료 인상에 시동을 걸었습니다. 지난 1월 3%, 6...",경제,535,2020-03-17 04:29:00,1649.0,5.0,18.0,5.0,7.0
3,https://news.naver.com/main/read.nhn?mode=LS2D...,경제,경제 일반,2019-12-02,러시아-중국 잇는 '시베리아의 힘' 가스관 개통(종합),연합뉴스,2019.12.02. 오후 9:51,None,"푸틴-시진핑, 화상 연결로 개통식 참관…中에 매년 380억㎥씩 30년간 가스 공급 ...",경제,17,2020-03-17 04:29:01,20.0,1.0,8.0,NaN,NaN
4,https://news.naver.com/main/read.nhn?mode=LS2D...,경제,경제 일반,2019-12-02,“건강 위해 정관장 알파프로젝트에 참여하세요”,세계일보,2019.12.02. 오후 10:09,None,2일 서울 중구 충무로 ‘한국의 집’에서 KGC인삼공사 모델들이 현대인에게 8가...,경제,0,2020-03-17 04:29:02,NaN,NaN,NaN,NaN,NaN

In [5]:
df.groupby([df['category1']])['url'].agg(['count'])

           count
category1
IT/과학      11592
경제         71352
사회         95340
생활/문화      18899
정치         38860

In [6]:
df.groupby([df['category1'], df['category2']])['url'].agg(['count'])

                     count
category1 category2
IT/과학     IT 일반       4802
          게임/리뷰       1164
          과학 일반       1275
          모바일          767
          보안/해킹        403
          인터넷/SNS     1260
          컴퓨터          626
          통신/뉴미디어     1295
경제        경제 일반      20025
          글로벌 경제      1403
          금융          7127
          부동산         4453
          산업/재계      17038
          생활경제        4273
          중기/벤처       3010
          증권         14023
사회        교육          3836
          노동          1070
          사건사고        6688
          사회 일반      30618
          식품/의료      11483
          언론           496
          인물          1697
          지역         38348
          환경          1104
생활/문화     건강정보        2220
          공연/전시       1205
          날씨          1925
          도로/교통        340
          생활문화 일반     6279
          여행/레저       1692
          음식/맛집        350
          자동차/시승기     1730
          종교          1751
          책            939
          패션/뷰티        468
정치        국방/외교       3972
          국회/정당       8264
          북한          2647
          정치일반       17409
          청와대         3534
          행정          3034

In [23]:
df[df.category1 == "정치"].to_csv('./data/정치.csv')

In [6]:
df_정치 = df[df.category1 == "정치"]
print(df_정치[df_정치.angry > 10].shape)
print(df_정치[df_정치.want > 10].shape)
print(df_정치[df_정치.like > 10].shape)
print(df_정치[df_정치.sad > 10].shape)
print(df_정치[df_정치.warm > 10].shape)

(5009, 17)
(379, 17)
(3419, 17)
(254, 17)
(424, 17)

In [6]:
cate1 = df.category1.unique()
cate2 = df.category2.unique()
print(cate1)
print(cate2)

['사회' 'IT/과학' '경제' '생활/문화' '정치']
['언론' '보안/해킹' '컴퓨터' '증권' '금융' '생활경제' '환경' '통신/뉴미디어' '부동산' 'IT 일반' '산업/재계'
 '교육' '글로벌 경제' '모바일' '중기/벤처' '게임/리뷰' '경제 일반' '사건사고' '과학 일반' '인터넷/SNS'
 '사회 일반' '지역' '도로/교통' '인물' '건강정보' '북한' '책' '국방/외교' '노동' '종교' '공연/전시'
 '음식/맛집' '국회/정당' '생활문화 일반' '날씨' '행정' '패션/뷰티' '자동차/시승기' '여행/레저' '식품/의료']

In [56]:
import re

cate1 = df.category1.unique()
li = []

for c1 in cate1 :
    if (c1 == "속보") | (c1 == "세계") :
        continue
    print("----- {} ----".format(c1))
    df1 = df[df['category1']==c1]
    cate2 = df1.category2.unique()
    for c2 in cate2:
        print(c2)
        tmp_df = df1[df1['category2']==c2]
        url = tmp_df.iloc[0]['url']
        
        sid1 = int(re.search(r"(sid1=[0-9]*)", url).group().split('=')[1])
        sid2 = int(re.search(r"(sid2=[0-9]*)", url).group().split('=')[1])

        li.append({'category1' : c1
                        ,'category2' : c2
                        ,'filename': "{}_{}".format(c1.replace(" ","").replace("/",""), c2.replace(" ","").replace("/",""))
                        , 'sid1' : sid1
                        , 'sid2' : sid2} )
        
df_cate = pd.DataFrame(li)
df_cate.to_csv('./cate_list.csv')

----- 경제 ----
글로벌 경제
금융
산업/재계
부동산
중기/벤처
증권
경제 일반
생활경제
----- IT/과학 ----
과학 일반
게임/리뷰
컴퓨터
통신/뉴미디어
모바일
인터넷/SNS
IT 일반
보안/해킹
----- 사회 ----
교육
노동
인물
지역
인권/복지
사건사고
언론
환경
사회 일반
식품/의료
----- None ----
----- 생활/문화 ----
날씨
생활문화 일반
공연/전시
음식/맛집
패션/뷰티
자동차/시승기
도로/교통
여행/레저
종교
책
건강정보
----- 정치 ----
정치일반
국방/외교
청와대
국회/정당
북한
행정

In [57]:
df_cate

   category1 category2     filename  sid1  sid2
0         경제   글로벌 경제      경제_글로벌경제   101   262
1         경제       금융         경제_금융   101   259
2         경제    산업/재계       경제_산업재계   101   261
3         경제      부동산        경제_부동산   101   260
4         경제    중기/벤처       경제_중기벤처   101   771
5         경제       증권         경제_증권   101   258
6         경제    경제 일반       경제_경제일반   101   263
7         경제     생활경제       경제_생활경제   101   310
8      IT/과학    과학 일반     IT과학_과학일반   105   228
9      IT/과학    게임/리뷰     IT과학_게임리뷰   105   229
10     IT/과학      컴퓨터      IT과학_컴퓨터   105   283
11     IT/과학  통신/뉴미디어   IT과학_통신뉴미디어   105   227
12     IT/과학      모바일      IT과학_모바일   105   731
13     IT/과학  인터넷/SNS   IT과학_인터넷SNS   105   226
14     IT/과학    IT 일반     IT과학_IT일반   105   230
15     IT/과학    보안/해킹     IT과학_보안해킹   105   732
16        사회       교육         사회_교육   102   250
17        사회       노동         사회_노동   102   251
18        사회       인물         사회_인물   102   276
19        사회       지역         사회_지역   102   256
20        사회    인권/복지       사회_인권복지   102    59
21        사회     사건사고       사회_사건사고   102   249
22        사회       언론         사회_언론   102   254
23        사회       환경         사회_환경   102   252
24        사회    사회 일반       사회_사회일반   102   257
25        사회    식품/의료       사회_식품의료   102   255
26     생활/문화       날씨       생활문화_날씨   103   248
27     생활/문화  생활문화 일반   생활문화_생활문화일반   103   245
28     생활/문화    공연/전시     생활문화_공연전시   103   242
29     생활/문화    음식/맛집     생활문화_음식맛집   103   238
30     생활/문화    패션/뷰티     생활문화_패션뷰티   103   376
31     생활/문화  자동차/시승기   생활문화_자동차시승기   103   239
32     생활/문화    도로/교통     생활문화_도로교통   103   240
33     생활/문화    여행/레저     생활문화_여행레저   103   237
34     생활/문화       종교       생활문화_종교   103   244
35     생활/문화        책        생활문화_책   103   243
36     생활/문화     건강정보     생활문화_건강정보   103   241
37        정치     정치일반       정치_정치일반   100   269
38        정치    국방/외교       정치_국방외교   100   267
39        정치      청와대        정치_청와대   100   264
40        정치    국회/정당       정치_국회정당   100   265
41        정치       북한         정치_북한   100   268
42        정치       행정         정치_행정   100   266

In [7]:
df_정치.head()

,category1,comment,_type,category2,like,title,url,media,angry,summary,content,warm,updatedate,want,oricategory,date,inputdate,sad
14,정치,1,dict,정치일반,0,"춘천 분구 확정…강원지역 선거구, 원주 빼고 다 바뀐다",https://news.naver.com/main/read.nhn?mode=LS2D...,머니투데이,4,None,김세환 국회의원선거구획정위원회 위원장이 3일 오후 서울 관악구 중앙선거관리위원회 ...,0,2020-03-15 14:10:17,0,정치,2020-03-03,2020.03.03. 오후 6:21,0
17,정치,0,dict,정치일반,0,"홍남기 영남·중부권 감염전문병원 확대, 음압병상도 확충",https://news.naver.com/main/read.nhn?mode=LS2D...,연합뉴스,1,None,관세청 압수 마스크 40만장 풀 것…마스크·방호복 전략물자 지정 검토해야 홍남기 ...,0,2020-03-15 14:10:29,0,정치,2020-03-03,2020.03.03. 오후 6:08,0
18,정치,5240,dict,행정,97,"중국 주민들, 한국 교민 집 각목으로 막고 못질",https://news.naver.com/main/read.nhn?mode=LS2D...,조선일보,14552,None,집에 들어가자 못나오게 만들어 교민의 회사 동료가 각목 제거 중국 안후이성 허페이...,40,2020-03-15 14:10:30,81,정치,2020-03-03,2020.03.03. 오전 1:46,31
21,정치,164,dict,정치일반,34,"이만희, 이번에는 ‘정세균 시계’ 논란..丁 “허무맹랑한 주장”",https://news.naver.com/main/read.nhn?mode=LS2D...,파이낸셜뉴스,264,None,이만희 신천지예수교 증거장막성전 총회장이 2일 기자회견에서 박근혜 전 대통령의 이...,7,2020-03-15 14:10:41,5,정치,2020-03-03,2020.03.03. 오후 5:59,2
22,정치,18,dict,정치일반,63,"[퇴근길] 의사 안철수, 봉사가 '쇼'라고?",https://news.naver.com/main/read.nhn?mode=LS2D...,머니S,15,None,안철수 국민의당 대표 측이 일각에서 제기된 '안 대표는 환자 근처에도 가지 않는다...,0,2020-03-15 14:10:42,2,정치,2020-03-03,2020.03.03. 오후 6:00,2

In [8]:
import numpy as np 

df_정치[df_정치['summary']!=""].head()

,category1,comment,_type,category2,like,title,url,media,angry,summary,content,warm,updatedate,want,oricategory,date,inputdate,sad
14,정치,1,dict,정치일반,0,"춘천 분구 확정…강원지역 선거구, 원주 빼고 다 바뀐다",https://news.naver.com/main/read.nhn?mode=LS2D...,머니투데이,4,None,김세환 국회의원선거구획정위원회 위원장이 3일 오후 서울 관악구 중앙선거관리위원회 ...,0,2020-03-15 14:10:17,0,정치,2020-03-03,2020.03.03. 오후 6:21,0
17,정치,0,dict,정치일반,0,"홍남기 영남·중부권 감염전문병원 확대, 음압병상도 확충",https://news.naver.com/main/read.nhn?mode=LS2D...,연합뉴스,1,None,관세청 압수 마스크 40만장 풀 것…마스크·방호복 전략물자 지정 검토해야 홍남기 ...,0,2020-03-15 14:10:29,0,정치,2020-03-03,2020.03.03. 오후 6:08,0
18,정치,5240,dict,행정,97,"중국 주민들, 한국 교민 집 각목으로 막고 못질",https://news.naver.com/main/read.nhn?mode=LS2D...,조선일보,14552,None,집에 들어가자 못나오게 만들어 교민의 회사 동료가 각목 제거 중국 안후이성 허페이...,40,2020-03-15 14:10:30,81,정치,2020-03-03,2020.03.03. 오전 1:46,31
21,정치,164,dict,정치일반,34,"이만희, 이번에는 ‘정세균 시계’ 논란..丁 “허무맹랑한 주장”",https://news.naver.com/main/read.nhn?mode=LS2D...,파이낸셜뉴스,264,None,이만희 신천지예수교 증거장막성전 총회장이 2일 기자회견에서 박근혜 전 대통령의 이...,7,2020-03-15 14:10:41,5,정치,2020-03-03,2020.03.03. 오후 5:59,2
22,정치,18,dict,정치일반,63,"[퇴근길] 의사 안철수, 봉사가 '쇼'라고?",https://news.naver.com/main/read.nhn?mode=LS2D...,머니S,15,None,안철수 국민의당 대표 측이 일각에서 제기된 '안 대표는 환자 근처에도 가지 않는다...,0,2020-03-15 14:10:42,2,정치,2020-03-03,2020.03.03. 오후 6:00,2

In [1]:
!pip install scrapinghub

Requirement already satisfied: scrapinghub in /Users/leeminho/opt/anaconda3/lib/python3.7/site-packages (2.3.0)
Requirement already satisfied: requests>=1.0 in /Users/leeminho/opt/anaconda3/lib/python3.7/site-packages (from scrapinghub) (2.22.0)
Requirement already satisfied: six>=1.10.0 in /Users/leeminho/opt/anaconda3/lib/python3.7/site-packages (from scrapinghub) (1.12.0)
Requirement already satisfied: retrying>=1.3.3 in /Users/leeminho/opt/anaconda3/lib/python3.7/site-packages (from scrapinghub) (1.3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/leeminho/opt/anaconda3/lib/python3.7/site-packages (from requests>=1.0->scrapinghub) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/leeminho/opt/anaconda3/lib/python3.7/site-packages (from requests>=1.0->scrapinghub) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/leeminho/opt/anaconda3/lib/python3.7/site-packages (from requests>=1.0->scrapinghub) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/leeminho/opt/anaconda3/lib/python3.7/site-packages (from requests>=1.0->scrapinghub) (3.0.4)

In [10]:
df_정치[:1]

,category1,comment,_type,category2,like,title,url,media,angry,summary,content,warm,updatedate,want,oricategory,date,inputdate,sad
14,정치,1,dict,정치일반,0,"춘천 분구 확정…강원지역 선거구, 원주 빼고 다 바뀐다",https://news.naver.com/main/read.nhn?mode=LS2D...,머니투데이,4,None,김세환 국회의원선거구획정위원회 위원장이 3일 오후 서울 관악구 중앙선거관리위원회 ...,0,2020-03-15 14:10:17,0,정치,2020-03-03,2020.03.03. 오후 6:21,0

In [14]:
unicode("▶", "ascci")

NameError: name 'unicode' is not defined

In [60]:
import os
os.makedirs('1/2/3')